/* fonts */
@font-face {
  font-family: 'Hind-SemiBold';
  src: local('Hind-Bold'), url('/static/fonts/Hind-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'RopaSans-Regular';
  src: local('Hind-Bold'), url('/static/fonts/RopaSans-Regular.woff') format('woff');
}

body{
  margin: 0;
  overflow-x: hidden;
  background-color: #E1EFF5;
}

#networkBody{
  background-color: #E1EFF5;
}

li a {
  color: green;
}
/* +++++++++++++++++++++++++++++++
a index about
+++++++++++++++++++++++++++++++ */
.info a{
  color: #F8E9FF;
  text-decoration: none;
}

/* +++++++++++++++++++++++++++++++
header Index
+++++++++++++++++++++++++++++++ */

#header{

}

/* +++++++++++++++++++++++++++++++
menu Index
+++++++++++++++++++++++++++++++ */
#menu{
  z-index: 200;

}


    /* .menuIcon::before{
      content: "";
      position: absolute;
      width: 9vw;
      height: 0.4vh;
      top: 2.3vh;
      left: 3vw;
      background-color: black;
      box-shadow: 0 2vh;
    } */

    /* .menuIcon::after{
      content: "";
      position: absolute;
      width: 4vw;
      height: 0.5vh;
    } */

.scroll{
  /* width: 100vw;
  height: 10vh;
  overflow: hidden; */
  color: #FFE3E3;
  white-space: nowrap;
  overflow: hidden;
  background: black;
  font-family: 'RopaSans-Regular', sans-serif;
  letter-spacing: 0.2em;
  padding: 0 0 2vh 0;
  font-size: 1.2em;
  
}

marquee{ 
  font-size: 4em;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.scrollNetwork{
  color: #E1EFF5;
}

/* +++++++++++++++++++++++++++++++
main
+++++++++++++++++++++++++++++++ */

#main{
    background-color: #F8E9FF;
    /* height: 80vh; */
    font-family: 'Hind-SemiBold', sans-serif;
    padding-top: 1.5vh;
    position: relative;
    margin-top: 20vh;
}

span {
  font-family: 'RopaSans-Regular', sans-serif;
  font-size: 1.5em;
  padding: 0 0 0 4vw;
  color: black;
}

/* .mainItems{
} */

.calendar, .journal, .map, .groups{
  font-size: 6em;
  margin: 3.5vh 0 0 8vw;
  line-height: 6vh;
  position: relative;
  color: #C184C1;
}

.bgMainImg img{
  width: 100vw;
  position: absolute;
  top: 0vh;
  left: -8vw;
  mix-blend-mode: multiply;
  box-shadow: inset 0 0 71px -1px #f8e9ff;
}

.calendar{
  /* background: url(../images/arrow.png) right bottom no-repeat; */
}

.journal{
}

.map{
}

.groups{
}

.arrows{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: absolute;
  height: 66vh;
  /* width: 20vw; */
  top: 0;
  right: 0;
  /* background-color: pink; */
  justify-items: right;
  margin-top: 13vh;
}

.grid-item{

}

.gridCal img{
  width: 25vw;
  animation: widthCal 3s infinite alternate-reverse;
}

    @keyframes widthCal{
      0%{width: 25vw;}
      100%{width: 20vw;}
    }
    

.gridJ img{
  width: 16vw;
  animation: widthJ 3s infinite alternate-reverse;
}

    @keyframes widthJ{
      0%{width: 16vw;}
      100%{width: 20vw;}
    }

.gridMap img{
  width: 50vw;
  animation: widthMap 4s infinite alternate-reverse;
}

    @keyframes widthMap{
      0%{width: 50vw;}
      100%{width: 45vw;}
    }

.gridGroups img{
  width: 27vw;
  animation: widthGroups 5s infinite alternate-reverse;
}

    @keyframes widthGroups{
      0%{width: 27vw;}
      100%{width: 10vw;}
    }


.info{
  background-color:#C184C1;
  color: #F8E9FF;
  font-size: 6em;
  margin: 3vh 0 0 0;
  height: 8vh;
  padding: 2vh 0 0 9vw;
}




/* themesnetwork */

#networkBody{
  background: #E1EFF5;
  position: relative;
    overflow: hidden;
}

#mainNetwork{
  /* margin-top: 32vh; */
}

.bgDots{
  position: absolute;
  z-index: -10;
  width: 100vw;
  top: -9vh;
}

    .bgDots img{
      width: 100vw;
    }

.networkContent{
  /* display: flex;
  flex-direction: column; */
  font-size: 4em;
  text-align: center;
  margin: 27vh 0 9vh;
  width: 100vw;
}

.networkContent div{
  /* flex: 1;
  align-self: center; */
  font-family: 'Hind-SemiBold', sans-serif;
  background-color: #F8E9FF;
  width: 90vw;
  margin: 6vh auto;
  border: 4px solid black;
  box-shadow: 0px 12px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100vw;
  padding: 1.3vh 0;
}

.bgArrow{
  position: absolute;
  z-index: -10;
  
}



.bgArrowOne{
  top: -4vh;
  left: 0;
}

      .bgArrowOne img{
        width: 80vw;
        animation: bgArrows 12s infinite alternate-reverse;
      }

.bgArrowTwo{
    top: 39vh;
    left: 10vw;
}
      .bgArrowTwo img{
        width: 50vw;
        animation: bgArrows 8s infinite alternate-reverse;
      }

.bgArrowThree{
  top: 20vh;
  right: 0;
}

    .bgArrowThree img{
      width: 30vw;
      animation: bgArrows 10s infinite alternate-reverse;
    }

@keyframes bgArrows{
  0%{transform: rotate(0deg);}
  0%{transform: rotate(20deg);}
}


/* land acknowledgement  */

.landA{
  position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #E5CFE5;
    top: 0;
    left: 0;
    z-index: 3000;

}

.landA h2{
  font-size: 4em;
    font-family: 'RopaSans-Regular', sans-serif;
    letter-spacing: 0.2em;
    text-align: center;
    font-style: italic;
    padding-top: 10vh;
}

.landA p{
  font-size: 2.55em;
    font-family: 'Hind-SemiBold', sans-serif;
    padding: 2em;
}

.landClose{
  position: absolute;
  width: 15vw;
  height: 15vw;
  background-color: #C184C1;
  top: 0;
  right: 0;
}

.landXOne{
  position: absolute;
  top: 0;
  right: 1.5vw;
  width: 10vw;
  height: 0.5vh;
  background: black;
  
  transform: rotate(45deg);
margin: 3vh auto 0;
}

.landXTwo{
  position: absolute;
  width: 10vw;
  height: 0.5vh;
  background: black;
  top: 3vh;
  transform: rotate(-45deg);
margin: 0vh auto 0;
right: 1vh;
}



/* index style */

#indexMain{
  margin: 19vh 10vw;
  font-family: 'Hind-SemiBold', sans-serif;
}

#indexMain h3{
  font-size: 4em;
  margin-top: 3vh;
}

#indexMain p{
  font-size: 4em;
}

label{
  width: 100vw;
    padding: 1vh;
}

#indexMain input {
  height: 5vh;
  width: 80vw;
}

#indexMain textarea {
  height: 20vh;
  width: 80vw;
}

button{
  font-size: 4em;
  width: 70vw;
}

.card{
  border: 2px solid black;
    padding: 2em;
    margin: 2vh 0;
    background: rgb(248,233,255);
    background: -moz-linear-gradient(-130deg, rgba(248,233,255,1) 0%, rgba(255,227,227,1) 35%, rgba(225,239,245,1) 67%, rgba(230,244,230,1) 100%);
    background: -webkit-linear-gradient(-130deg, rgba(248,233,255,1) 0%, rgba(255,227,227,1) 35%, rgba(225,239,245,1) 67%, rgba(230,244,230,1) 100%);
    background: linear-gradient(-130deg, rgba(248,233,255,1) 0%, rgba(255,227,227,1) 35%, rgba(225,239,245,1) 67%, rgba(230,244,230,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8e9ff",endColorstr="#e6f4e6",GradientType=1); 
}

.creds{
  display: flex;
    width: 11vw;
    font-size: 2em;
    background: rgb(248,233,255);
    flex-direction: column;
    padding: 2em;
    margin: 0;
    position: absolute;
    right: 0;
    top: 15vh;
}

.creds a{
  flex: 1;
 
}

#title{
  background-color: red;
}

#id_public{
  width: 20vw;;
}







