

/* @font-face {
    font-family: 'Hind-SemiBold';
    src: local('Hind-Bold'), url('/static/fonts/Hind-SemiBold.woff') format('woff');
  }




button{
    font-family:'Hind-SemiBold', sans-serif ;
} */