
<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard_css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard_css/menu.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'dashboard_js/example.js' %}"></script>
<html>
<body id="registerBody">


   <div id="header">
       <div class="topBarMenu">
            <div class="logo">
                {% load static %} <img src="{% static "images/logoWhiteText.png" %}" alt="" />
            </div>
            <div class="menuIcon">
                <div class="barOne"></div>
                <div class="barTwo"></div>
            </div>
        </div>
        <div class="scroll">
            <div class="wrapper">
            <!-- impliment css solution -- <p></p>overflow hidden -- transform x in place of marque -->
            <marquee direction="right" behavior="alternate">*  Register  *  Register  *  Register  *  Register  *  Register  *  Register  *  Register  *  Register  *  Register  *  Register  *  Register</marquee>
            </div> 
        </div>
   </div> 


      <!-- hidden menu -->
      <div id="menu" style="display: none;">
        <div class="menuAbout"><a href="{% url 'themesabout' %}">About</a></div>
        <div class="menuDash"><a href="{% url 'themesindex' %}">Dashboard</a></div>
        <div class="menuCal">Calendar</div>
        <div class="menuJ">Journalism</div>
        <div class="menuCAMP"><a href="https://www.arcgis.com/apps/dashboards/52d080c8e02b44919c9a81b8b149782b" target="_blank">Cultural Asset Map</a></div>
        <div class="menuNet"><a href="{% url 'themesnetwork' %}">Creative Network</a></div>
        <div class="menuLand">LAND ACKNOWLEDGEMENT</div>
    </div> 





<form id="formReg" method="post">
    {% csrf_token %}
    {{form}}
    <input id="subReg" type="submit" value="Register">
</form>

<div id="backTLog">
<a href="{% url 'login' %}">Back to login</a>
</div>

</body>
</html>
