 <!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard_css/style.css' %}">
<script src="{% static 'dashboard_js/example.js' %}"></script>

<html>
<body>

    <h1 onclick="changeText(this)" >CLICK ME</h1>
    <a> {{user.username|default:'Guest'}} </a>

    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}"> Logout </a>
    {% else %}
        <a href="{% url 'login' %}"> Login </a>
    {% endif %}

    <ul>
        <li><a>This is a test dashboard page. Check the 'static' directory for the css and js used for this page.</a>
    </ul>
    <a href="{% url 'home' %}"> Home </a>

</body>
</html> 
