 <!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="X-Content-Type-Options: nosniff" href="{% static 'dashboard_css/style.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'dashboard_css/menu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard_css/about.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'dashboard_js/example.js' %}"></script>

<html>
<body>

    <div id="header">
        <div class="topBarMenu">
             <div class="logo">
                 {% load static %} <img src="{% static "images/logoWhiteText.png" %}" alt="" />
             </div>
             <div class="menuIcon">
                 <div class="barOne"></div>
                 <div class="barTwo"></div>
             </div>
         </div>
         <div class="scroll">
             <div class="wrapper">
             <!-- impliment css solution -- <p></p>overflow hidden -- transform x in place of marque -->
             <marquee direction="right" behavior="alternate">*  Creative Network  *  Creative Network  *  Creative Network  *  Creative Network  *  Creative Network</marquee>
             </div> 
         </div>
    </div> 

       <!-- hidden menu -->
       <div id="menu" style="display: none;">
        <div class="menuAbout"><a href="{% url 'themesabout' %}">About</a></div>
        <div class="menuDash"><a href="{% url 'themesindex' %}">Dashboard</a></div>
        <div class="menuCal">Calendar</div>
        <div class="menuJ">Journalism</div>
        <div class="menuCAMP"><a href="https://www.arcgis.com/apps/dashboards/52d080c8e02b44919c9a81b8b149782b" target="_blank"></a>Cultural Asset Map</a></div>
        <div class="menuNet"><a href="{% url 'themesnetwork' %}">Creative Network</a></div>
        <div class="menuLand">LAND ACKNOWLEDGEMENT</div>

    </div> 



    <div id="indexMain">
    <!-- <h1 onclick="changeText(this)" >Chicago Creative Network</h1> -->
    <h1>Chicago Creatives Network Social</h1>
    <div class="creds">
        <a class="guestName"> {{user.username|default:'Hello'}} </a>

        {% if user.is_authenticated %}
            <a class="logout" href="{% url 'logout' %}"> Logout </a>
        {% else %}
            <a class="login" href="{% url 'login' %}"> Login </a>
        {% endif %}
        <a class="publicFeed" href="{% url 'home' %}"> Public Feed </a>
    </div>

    <!-- <ul>
        <li><a>This is a test dashboard page. Check the 'static' directory for the css and js used for this page.</a>
    </ul> -->

    {% if user.is_authenticated  %}
        <h3>Group Title <br>New Post</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ post_form.as_p }} <br>
          {% csrf_token %}

          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>

        </form>
    {% endif %}
</div>

    {% for post in post_list %}
        <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
            <p class="card-text">{{post.body|safe}}</p>
        </div>
    </div>
    {% endfor %}



</body>
</html> 
